---
layout: default
title:
---
<div class="jumbotron" id="about">
    <h1>{{ site.title }}</h1>

    <p>Приветствуем вас на нашем сайте!</p>

    <p>
        Минская PHP группа - это место для обмена опытом и знаниями, связанными с PHP, а также связанными с PHP
        технологиями. Группа находится в Минске. Мы открыты для всех!
    </p>

    <p>Правила:</p>
    <ul>
        <li>группа не привязана ни к какой компании и открыта для всех</li>
        <li>группа закрыта для представителей HR и рекрутинга (для этого в группе Facebook существует формальное
            подтверждение на запрос о вступлении)
        </li>
    </ul>

    <p>
        Следующий <a href="https://www.facebook.com/events/600891746698048/">митап #9</a> пройдет 28 августа (четверг) в
        19:00 в бизнес-клубе Imaguru (ул. Фабрициуса, 4)
    </p>

    <p>
        <a class="btn btn-primary btn-lg" role="button" href="https://www.facebook.com/groups/minsk.user.group/">Вступить</a>
        <a class="btn info btn-lg" role="button"
           href="https://www.google.com/calendar/ical/phpminsk%40gmail.com/public/basic.ics">Календарь митапов</a>
    </p>
</div>

<h1 id="social">Мы в соцсетях</h1>
<ul>
    <li><a href="https://www.facebook.com/groups/minsk.user.group/">Группа в Facebook</a></li>
    <li><a href="https://www.youtube.com/user/PHPUserGroupMinsk/">Канал на YouTube</a></li>
    <li><a href="https://twitter.com/phpminsk">Аккаунт в Twitter</a></li>
    <li><a href="http://www.slideshare.net/MinskPHPUserGroup/">Аккаунт на SlideShare</a></li>
    <li><a href="https://connect.sensiolabs.com/club/php-user-group-minsk">Клуб на SensioLabs Connect</a></li>
    <li><a href="https://github.com/phpminsk/">Организация на GitHub</a></li>
</ul>

<h1 id="contacts">Контакты</h1>
{% for contact in site.data.contacts %}
<address>
    <p><strong>{{ contact.name }}</strong></p>
    <ul class="list-inline">
        {% if contact.email %} <li><a href="mailto:{{ contact.email }}">E-mail</a></li> {% endif %}
        {% if contact.skype %} <li><a href="skype:{{ contact.skype }}?call">Skype</a></li> {% endif %}
        {% if contact.facebook %} <li><a href="https://www.facebook.com/{{ contact.facebook }}">Facebook</a></li> {% endif %}
        {% if contact.homepage %} <li><a href="{{ contact.homepage }}">Homepage</a></li> {% endif %}
    </ul>
</address>
{% endfor %}
