---
layout: default
title:
---
<div class="jumbotron" id="about">
    <h1>{{ site.title }}</h1>

    <p>Приветствуем вас на нашем сайте!</p>

    <p>
        Минская PHP группа - это место для обмена опытом и знаниями, связанными с PHP, а также связанными с PHP
        технологиями. Группа находится в Минске. Мы открыты для всех!
    </p>

    <p>Правила:</p>
    <ul>
        <li>группа не привязана ни к какой компании и открыта для всех</li>
        <li>группа закрыта для представителей HR и рекрутинга (для этого в группе Facebook существует формальное
            подтверждение на запрос о вступлении)
        </li>
    </ul>

    <p>
        Следующий <a href="https://www.facebook.com/events/357977821040246/?ref=4" target="_blank">митап #11</a> пройдет 30 октября (четверг) в
        19:00 в бизнес-клубе Imaguru (ул. Фабрициуса, 4) на 2м этаже
    </p>

    <p>
        <a class="btn btn-primary btn-lg" role="button" href="https://www.facebook.com/groups/minsk.user.group/" target="_blank">Вступить</a>
        <a class="btn info btn-lg" role="button"
           href="https://www.google.com/calendar/ical/phpminsk%40gmail.com/public/basic.ics">Календарь митапов</a>
    </p>
</div>

<h1 id="social">Мы в соцсетях</h1>
<ul>
    <li><a href="https://www.facebook.com/groups/minsk.user.group/" target="_blank">Группа в Facebook</a></li>
    <li><a href="https://www.youtube.com/user/PHPUserGroupMinsk/" target="_blank">Канал на YouTube</a></li>
    <li><a href="https://twitter.com/phpminsk" target="_blank">Аккаунт в Twitter</a></li>
    <li><a href="http://www.slideshare.net/MinskPHPUserGroup/" target="_blank">Аккаунт на SlideShare</a></li>
    <li><a href="https://connect.sensiolabs.com/club/php-user-group-minsk" target="_blank">Клуб на SensioLabs Connect</a></li>
    <li><a href="https://github.com/phpminsk/" target="_blank">Организация на GitHub</a></li>
</ul>

<h1 id="contacts">Контакты</h1>
{% for contact in site.data.contacts %}
<address>
    <p>
        <strong>{{ contact.name }}</strong>:
        {% if contact.email %} <a href="mailto:{{ contact.email }}" class="btn btn-default btn-xs">E-mail</a> {% endif %}
        {% if contact.skype %} <a href="skype:{{ contact.skype }}?call" class="btn btn-default btn-xs">Skype</a> {% endif %}
        {% if contact.facebook %} <a href="https://www.facebook.com/{{ contact.facebook }}" target="_blank" class="btn btn-default btn-xs">Facebook</a> {% endif %}
        {% if contact.homepage %} <a href="{{ contact.homepage }}" target="_blank" class="btn btn-default btn-xs">Homepage</a> {% endif %}
    </p>
</address>
{% endfor %}
